nav {
  background-color: black;
  height: 2.5em;
  width: 100%;
  color: white;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 1em 3%;
  margin-top: 0;
  /*float: right;
  list-style-type: none;
  text-align: center;
  margin: .5em;*/
}

li:first-child{
  float: left;
}

li:hover {
  color: LightBlue;
}

a {
  text-decoration: none;
}

body {
  /*background-image: url("../img/blue_ridge.jpg");
  background-size: auto;
  background-position: center;*/
}
